.modal__body {
	display: flex;
	align-items: center;
	justify-content: center;
	gap: 1.87rem;
	flex-direction: column;
	padding: 4.38rem;
}

.modal__body span {
	font-family: 'Noto Sans';
	font-size: 1.375rem;
	font-style: normal;
	font-weight: 500;
	line-height: 160%; /* 2.2rem */
}

.close__button path {
	fill: var(--accent-color);
}

@media (max-width: 460px) {
	.modal__body {
		width: 100%;
		padding: 4.38rem 2rem;
	}
}
